## EDA and Preprocessing

### Load Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

### Read CSV

In [2]:
loan_df = pd.read_csv('./Datasets/Loan_data.csv')

In [3]:
loan_df.shape

(1000, 29)

In [4]:
loan_df.describe()

,OBS.,CHK_ACCT,DURATION,HISTORY,FURNITURE,RADIO.TV,EDUCATION,RETRAINING,AMOUNT,SAV_ACCT,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPENDENTS,TELEPHONE,FOREIGN,DEFAULT
count,1000.000000,1000.000000,997.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,996.000000,1000.000000,...,998.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,1.577000,20.893681,2.54500,0.181000,0.280000,0.050000,0.097000,3279.088353,1.105000,...,35.523046,0.186000,0.179000,0.713000,1.407000,1.904000,1.155000,0.404000,0.037000,0.700000
std,288.819436,1.257638,12.063783,1.08312,0.385211,0.449224,0.218054,0.296106,2825.671422,1.580023,...,11.343412,0.389301,0.383544,0.452588,0.577654,0.653614,0.362086,0.490943,0.188856,0.458487
min,1.000000,0.000000,4.000000,0.00000,0.000000,0.000000,0.000000,0.000000,250.000000,0.000000,...,19.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,250.750000,0.000000,12.000000,2.00000,0.000000,0.000000,0.000000,0.000000,1369.750000,0.000000,...,27.000000,0.000000,0.000000,0.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000
50%,500.500000,1.000000,18.000000,2.00000,0.000000,0.000000,0.000000,0.000000,2324.000000,0.000000,...,33.000000,0.000000,0.000000,1.000000,1.000000,2.000000,1.000000,0.000000,0.000000,1.000000
75%,750.250000,3.000000,24.000000,4.00000,0.000000,1.000000,0.000000,0.000000,3973.750000,2.000000,...,42.000000,0.000000,0.000000,1.000000,2.000000,2.000000,1.000000,1.000000,0.000000,1.000000
max,1000.000000,3.000000,72.000000,4.00000,1.000000,1.000000,1.000000,1.000000,18424.000000,4.000000,...,75.000000,1.000000,1.000000,1.000000,4.000000,3.000000,2.000000,1.000000,1.000000,1.000000